extends layout

block content
  h1= title

  div(id="" + app_name)
    table
      thead
        tr
          td(v-for="(head, index) in heads")
            span(v-on:click="sort(index)") {{ head }}
          td
            span(v-on:click="sortByValue(devices)") value
      tbody
        tr(v-for="(dev, index) in devices")
          td(v-for="dim in dev.dimensions")
            span {{ dim }}
          td
            span {{ dev.metrics[0].values[0] }}
  script(type="text/javascript").
    window.json_obj = !{JSON.stringify(json_obj)};
