var config = {};

config.credential = require('./Change Me'); //<サービスアカウントキーのファイル名>
config.viewId = 'Change Me'; //GAのビューのID
config.startDate = 'Change Me';//xxxx-xx-xx
config.endDate = 'Change Me';//xxxx-xx-xx
config.dimensions = [
  {
    // "name": "ga:pagePath"
    "name": "ga:mobileDeviceInfo"
    // "name": "ga:mobileDeviceBranding"
    // "name": "ga:mobileDeviceModel"
    // "name": "ga:mobileDeviceMarketingName"
    // "name": "ga:deviceCategory"
  },
  {
    "name": "ga:mobileDeviceBranding"
  },
  {
    "name": "ga:mobileDeviceModel"
  },
  {
    "name": "ga:mobileDeviceMarketingName"
  },
  {
    "name": "ga:deviceCategory"
  },
  {
    "name": "ga:operatingSystem"
  },
  {
    "name": "ga:operatingSystemVersion"
  }

];//dimensions https://developers.google.com/analytics/devguides/reporting/core/dimsmets

config.orderBys = [
  {
    "fieldName": "ga:operatingSystemVersion",
    "sortOrder": "ASCENDING",
    "orderType": "VALUE"
  }
];//order https://developers.google.com/analytics/devguides/reporting/core/v4/rest/v4/reports/batchGet?hl=ja#OrderBy

module.exports = config;